@import "tailwindcss";

/* Light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
 --primary: #1B264F;       /* Main text or headings */
  --secondary: #F5F3F5;     /* Section background */
  --accent: #302B27;        /* Buttons and dark elements */
  --highlight: #facc15;     /* Yellow highlight */
}

/* Dark mode based on device preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ededed;
    --secondary: #171717;
    --accent: #ffffff;
    --highlight: #facc15;
  }
}

/* Apply globally */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
